<form class="example-container" #form="ngForm" (ngSubmit)="onSubmit()">
  <h2>Employee form</h2>
  <div class="form-group">
    <label for="firstName">First Name: &nbsp;</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      required
      [(ngModel)]="firstName"
      name="firstName"
    />
  </div>

  <div class="form-group">
    <label for="lastName">Last Name: &nbsp;</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      [(ngModel)]="lastName"
      name="lastName"
    />
  </div>

  <div class="form-group">
    <label for="emailId">Email: &nbsp;</label>
    <input
      type="text"
      class="form-control"
      id="emailId"
      [(ngModel)]="emailId"
      name="emailId"
    />
  </div>

  <div class="form-group">
    <label for="salary">Salary: &nbsp;</label>
    <input
      type="text"
      class="form-control"
      id="salary"
      [(ngModel)]="salary"
      name="salary"
    />
  </div>
  <button type="submit" mat-raised-button class="button-update">
    {{ editMode ? "Update Employee" : "Create Employee" }}
  </button>
</form>
